In [1]:
#python revice basics

In [2]:
#Numbers

In [3]:
2+1

3

In [4]:
#python 3 alert

In [5]:
#In python 2 the / symbol performs classic division and in python 3 howerver,a singlr / performs true division

In [6]:
3/2#python 3

1.5

In [7]:
#typecasting

In [8]:
float(3)/2

1.5

In [9]:
#if you are in python 2 and want to use python 3 implementation
#from __future__ import division
#3/2

1.5

In [10]:
#powers
2**3

8

In [11]:
#can also do roots this way
4**0.5

2.0

In [12]:
#order of operations PEMDAS
2+10*10+3

105

In [13]:
#can use parenthesis to specify orders
(2+10)*(10+3)

156

In [14]:
#variable assignments 
a=5

In [15]:
#Adding the objects
a+a

10

In [16]:
#we can overwrite the variable
a=10

In [17]:
a

10

In [18]:
#The names you use when creating these labels need to follow a few rules
#-->Names can not start with a number
#-->There can be no spaces in the name,use _instaead
#can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
#It's considered best pratice that names are lower case
#my_income=100

In [19]:
#strings in python

In [20]:
#To create a string in python you can use euther single quotes or duoble quotes

In [21]:
#single word
'hello'

'hello'

In [22]:
#Entire phrase
'This is also a string'

'This is also a string'

In [23]:
#we can also use double quotes
"string built with double quotes"

'string built with double quotes'

In [24]:
#Careful with quotes! you can use combination of double and single quotes inside a string!
"Now I'm ready to use the single quotes inside a single!"

"Now I'm ready to use the single quotes inside a single!"

In [26]:
#Printing a String
#in python2
#print "Hello World 1"
#in python3
print("Hello World 1")

Hello World 1

In [27]:
print("use \n to print a new line")

use
 to print a new line

In [28]:
#To find the len() of the string
len("Hello world")

11

In [29]:
#string indexing
s = "Hello world"

In [30]:
s

'Hello world'

In [31]:
print(s)

Hello world

In [32]:
s[0]#indexing starts with 0 with python

'H'

In [33]:
s[1]

'e'

In [34]:
#we can use a : to perform slicing which grabs everything upto designated point

In [35]:
s[1:]#start with picking 1 to everything

'ello world'

In [36]:
#Grab everything up to the 3rd index
s[:3]#":" means upto not including

'Hel'

In [37]:
#Everything
s[:]

'Hello world'

In [38]:
#last letter(one index 0 so it loops back arround)
s[-1]#last element

'd'

In [39]:
#we can also sue index and slice notation to grab elements of a sequence by a specifies step size(the default is 1)

In [40]:
#Grab everything but go in step sizes of 1
s[::1]

'Hello world'

In [41]:
#Grab everything but go in step sizes of 2
s[::2]

'Hlowrd'

In [42]:
#We can use this to print a string backwards
s[::-1]

'dlrow olleH'

In [43]:
#string properties
#-->string in python are immutable means once the string is created the elements within not be changes or replaced

In [44]:
s

'Hello world'

In [46]:
s[0]="x"#because string s are immutable

TypeError: 'str' object does not support item assignment

In [48]:
#Concatenate strings!
s+" concatenate me!"

'Hello world concatenate me!'

In [49]:
#we can reassign complete;y though!

In [53]:
s=s +"concatenate me!"

In [54]:
print(s)

Hello worldconcatenate me!

In [55]:
#we can use multiplication symbol to create repetation!

In [56]:
letter ="z"

In [57]:
letter*10

'zzzzzzzzzz'

In [58]:
#Basic built-in string methods

In [59]:
s

'Hello worldconcatenate me!'

In [60]:
s.upper()

'HELLO WORLDCONCATENATE ME!'

In [61]:
s.lower()

'hello worldconcatenate me!'

In [62]:
s.split()#converts itto string

['Hello', 'worldconcatenate', 'me!']

In [63]:
#split by a specific element(doesn't include the element that was split on )
s.split("W")

['Hello worldconcatenate me!']

In [64]:
s.split("w")

['Hello ', 'orldconcatenate me!']

In [65]:
#print formating

In [66]:
#we can use .format() method to add formatted objects to prinnted string statements

In [67]:
"insert another string with curly brackets:{}".format("The inserted string")

'insert another string with curly brackets:The inserted string'

In [71]:
#you can use the %s to format strings into your print statemensts.
s="STRING"
print ("Place anotherr string with a mod s: %s"%(s))

Place anotherr string with a mod s: STRING

In [72]:
#Floating point numbers use the format %n1.n2f
#-->n1 is the total minimum number of digits the string should contain(these may be filled with whitespace if the entire number does not have this many digits)
#-->n2 placeholder stands for how many numbers to show past the decimal point
print("Floating point numbers:%1.2f"%(13.144))

Floating point numbers:13.14

In [73]:
print(("Floating point numbers:%1.0f")%(13.144))#after decimal there need to be 0 nubers

Floating point numbers:13

In [75]:
print(("Floating point numberss:%1.5f")%(13.144))

Floating point numberss:13.14400

In [76]:
print("Floating point numbers: %10.2f"%(13.144))

Floating point numbers:      13.14

In [78]:
#multiple formating
print ('First:%s,Second:%1.2f,Third:%r'%("hi!",3.14,22))

First:hi!,Second:3.14,Third:22

In [79]:
#using string.format() method
#its very easy and convinient
print ("This is a string with an {p}".format(p="insert"))

This is a string with an insert

In [80]:
#multiple times
print("one:{p} , Two:{p} ,Three :{p}".format(p="Hi!"))

one:Hi! , Two:Hi! ,Three :Hi!

In [81]:
#several objects:
print("Object 1:{a},Object 2:{b},Object 3:{c}".format(a=1,b="two",c=12.3))

Object 1:1,Object 2:two,Object 3:12.3